*{
    margin:0;
      padding:0;
      box-sizing:box-border;}
    
    html {
      height: 100%;
      width: 100%;
    }
    
    section{
      width:100%;
      height:100vh;
      display:flex;
      justify-content:center;
      align-items:center;
      background-color:black;
    }
    .container{
      width:80%;
      height:80%;
      display:flex;
      justify-content:space-around;
      align-items:center;
      background-color:blue;
    }
    .box{
      width:30%;
      height:70%;
      display:flex;
      justify-content:space-around;
      align-items:start;
      background-color:white;
      flex-direction:column;
      
    }
    button{
      width:100%;
      height:2rem;
      background-color:red;
      color:white;
      border:none;
      border-radius:10px;
    
    }