* {
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}

.container{
    display: flex;
}

section {
    width : 50%;
    height: 100%;
}
.sec1{

    background-image: url("https://images.pexels.com/photos/1425353/pexels-photo-1425353.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio:1/1;



}


.sec2{
    background-image: url("https://images.pexels.com/photos/1381679/pexels-photo-1381679.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio:1/1;
}


.box{
    background-color: rgba(0, 0, 0, 0.74);
    height: 100vh;
}

.box form {
    border:2px solid yellow;
    height : 70%;
    
}